{%extends "base.html"%}

    {% block title %} <h2>Appointment application form</h2> {% endblock title %}

    <script>

    </script>

{% block content %}

<ul>
    <p> "Name:" {{object.name}}</p>
    <p> "Description:" {{object.description}}</p>

    <br>

</ul>
    <h3> Available time ranges </h3>
    <form id="radio_form">
    <div class="row">
          <div class="col-sm-4">
          Date:
      {% for d in date %}
        <div class="radio_date">
          <input type="radio" name="dates" value="{{ d.id }}" />
          <label>{{ d.value }}</label>
        </div>
      {% endfor %}
          </div>
       <div class="col-sm-4">
       Time:
      {% for t in time %}
      <div class="radio_time">
        <input type="radio" name="times" value="{{ t.id }}" data-date-id="{{ t.date_id }}" />
        <label>{{ t.value }}</label>
      </div>
      {% endfor %}
       </div>
    </div>
    </form>


    <form id="form" method="post" action="{% url 'visitor_new' %}"> {% csrf_token %}
        <h3>Personal Information</h3>
        <p>{{ form.full_name.label }} {{ form.full_name }}</p>
        <p>{{ form.email.label }} {{ form.email }}</p>
        <p> {{ form.time_ranges }}</p>
        <p id="appointments_id"> {{ form.appointments }}</p>

        <input type="submit" value="Save" />
    </form>

{% endblock content %}
