{% extends "base.html" %}

    {% block title %}Time ranges form {% endblock title %}

{% block content %}

<script type="text/javascript">
    $(".datetimepicker").datetimepicker({
        format: "dd MM yyyy - hh:ii"
    });
</script>
<dd><input class="form-control" id="datetimepicker" name="started_at" type="text" value></dd>
{#    <form method="post">{% csrf_token %}#}
{#        {{ form.as_p}}#}
{#        <input type="submit" value="Save"/>#}
{#    </form>#}




{% endblock content %}







